/* Style overwrites */
body {
   @include gradient( $htwk-portal-bgcolor1, $htwk-portal-bgcolor2 ) ; 
}
#portal-topactions {
    min-height: 0em ;
}
#portal-searchbox {
    & #searchGadget {
        @include boxshadow(0 0 0.5em #FCFCFC inset);
    }
}
#portal-globalnav li.selected {
//    border-bottom: 5px solid $global-navigation-border-color-active;
}
div#header {
//   @include gradient( $htwk-primary-dark, $htwk-primary-bright) ; // looks bad on mobile
//   background: #ffffff url("/++theme++htwkimn.theme/images/header-bg_cuttedAndScaled.png") no-repeat 0 0;
   background: #ffffff url("/++theme++htwkimn.theme/images/header-bg_graphicBlue.png") no-repeat 0 0;
   background-position: top center;
}
@media screen and (max-width: $screen-tablet-landscape) {
    .fixedWidth {
      width: 100%;
    }
}
#breadcrumbs-wrapper {
    margin-top: 0.75em;
}
#portal-searchbox {
    margin-top: 0.45em;
}
#searchGadget { 
    font-size: 0.95em;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
    background-color: #D5DBED;
}
.LSBox:before {
    top: 0.6em;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
#searchGadget:focus {
    border-color: $htwk-portal-blue;
}




html {
    // @Todo only for desktop
    min-height: 1000px;
}

