/* Style overwrites */
body {
    @include gradient( $htwk-portal-bgcolor1, $htwk-portal-bgcolor2 ) ; 
}
#portal-topactions {
    min-height: 0.5em ;
}
#portal-searchbox {
    & #searchGadget {
        @include boxshadow(0 0 0.5em #FCFCFC inset);
    }
}
#portal-globalnav li.selected {
    border-bottom: 5px solid $global-navigation-border-color-active;
}
html {
    // @Todo only for desktop
    min-height: 1000px;
}

